body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;;
}


.bgfr { 
    padding-left: 30px;
    padding-top: 120px;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.bgfr:before {
    position: absolute;
    content: "";
    inset: 0px;
    background-image: url(/focusimages/bg4.1.gif);
    background-size: contain;
    z-index: -10;
}


.top {
    display: flex;
}

.topleft {
    margin-left: 120px;
}

.topright {
    align-items: flex-end;
}

.goback {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#f9f7f7;
    font-size: 30px;
    text-decoration: none;
}

.joinwrap {
    height: 100px;
}