body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;;
}


.bgfr { 
    padding-left: 30px;
    padding-top: 100px;
    width: 1664px;
    height: 1032px;
    position: relative;
    box-sizing: border-box;
}

.bgfr:before {
    position: absolute;
    content: "";
    inset: 0px;
    background-image: url(/focusimages/bg4.1.gif);
    background-size: cover;
    z-index: -10;
}


.top {
    display: flex;
}

.containerorsum {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.topright {
    transition-duration: 0.15s;
    margin-right: 120px;
}

.topright:hover {
    transform: scale(1.05);
}

.goback {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#f9f7f7;
    font-size: 30px;
    text-decoration: none;
}

.topleft {
    width: 170px;
    margin-left: 120px;
    transition-duration: 0.15s;
    padding: 10px 10px 10px 10px;
    background-color: #312F51;
    border-radius: 10px;
    height: fit-content;
}

.topleft:hover {
    transform: scale(1.05);
}

.joinwrap {
    height: 80px;
}

.pomodorocontainer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    position: fixed;
    bottom: 100px;
    margin-left: 120px;
}

.clockactions {
    display: flex;
    gap: 20px;
}

.redobuttonimage {
    height: 35px;
}

.redobutton {
    background-color: #312F51;
    border: none;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.15s;
    width: 66px;
    height: 66px;
}

.redobutton:hover {
    transform: scale(1.05);
}

.settingsbuttonimage {
    height: 35px;
}

.settingsbutton {
    background-color: #312F51;
    border: none;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.15s;
    width: 66px;
    height: 66px;
}

.settingsbutton:hover {
    transform: scale(1.05);
}

.startbutton {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#f9f7f7;
    font-size: 30px;
    background-color: #312F51;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border: none;
    transition-duration: 0.15s;
}

.startbutton:hover {
    transform: scale(1.05);
}

.pomodoro-timer {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#f9f7f7;
    font-size: 100px;
}

.breakfocus {
    display: flex;
    gap: 15px;
}

.focusbutton {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    color:#f9f7f7;
    font-size: 20px;
    background-color: #312F51;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border: none;
    transition-duration: 0.15s;
}

.breakbutton {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    color:#f9f7f7;
    font-size: 20px;
    background-color: #312F51;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border: none;
    transition-duration: 0.15s;
}