body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f7f7;
    color: #333;
}

.container {
    height: 70px;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlink {
    display: block;
    padding: 8px;
    background-color: #f6eac2;
    color: #333;
}

.navitem {
    margin-left: 40px;
}

.navitem a {
    text-decoration: none;
}

.navbarelements {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}