body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f7f7;
}

.navbar { /*this is the navbar*/
    overflow: hidden;
    background-color: #fdf6e6;
    color: #f68d70;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1000;
    display:flex;
    height: 70px;
    justify-content: center;
}

.navbar a { /*this is the text in the navbar*/
    display: flex;
    color: #f68d70;
    line-height: 70px;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    transition-duration: 0.15s;
    flex-shrink:1;
    margin-bottom: 16px;
}

.navbar a:hover { /*this is for upscaling on hover*/
    transform: scale(1.1);
}

.thisthemainpagefr { /*this is the div for the starter text*/
    padding-left: 30px;
    padding-top: 120px;
    width: 100%;
    position: relative;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
}

.thisthemainpagefr::before { /*this underlays and image behind the text and adjusts the opacity*/
    position: absolute;
    content: "";
    inset: 0px;
    opacity: 0.5;
    background-image: url(mainpage.jpeg);
    background-size: cover;
    z-index: -10;
}

.headertext { 
    font-size: 40px;
    margin-left: 80px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#f9f7f7;
    text-shadow: 0 0 20px #462f14;
}

.headertextsecond {
    font-size: 70px;
    margin-left: 80px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#f9f7f7;
    text-shadow: 0 0 20px #462f14;
}

.headertextthird {
    font-size: 35px;
    margin-top: 0;
    margin-left: 80px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    color:#f9f7f7;
    text-shadow: 0 0 20px #462f14;
}

.headertextlast {
    font-size: 35px;
    margin-left: 80px;
    padding-bottom: 50px;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    color:#f9f7f7;
    margin-bottom: 10px;
    text-shadow: 0 0 20px #462f14;
}

.maintext {
    flex-grow: 1;
}

.joinus {
    background-color: #fdf6e6;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 25px;
    max-height: 65px;
    border: none;
    border-radius: 15px;
    transition-duration: 0.15s;
    margin-left: 80px;
    margin-top: 0;
    display: flex;
    line-height:65px;
}

.joinus:hover {
    transform: scale(1.05);
}


.mainbutton {
    display: flex;
}


.joinuscolor {
    color: #f68d70;
}

.discordcolor {
    color: #5865f2;
    margin-left: 7px;
}

.thisthelogo {
    height: 25px;
    object-fit: cover;
    margin-top: 18px;
    margin-left: 10px;
}

.bgspacer {
    height: 150px;
}