body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f7f7;
    color: #333;
}

.container {
    height: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    list-style: none;
}


.navlink {
    display: block;
    padding: 8px;
    background-color: #f6eac2;
    color: #333;
}

.navitem a {
    text-decoration: none;
}
