body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;;
}

html {
    scroll-behavior: smooth;
}

.navbar { /*this is the navbar*/
    overflow: hidden;
    background-color: #F4E8DC,;
    color: #f68d70;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1000;
    display:flex;
    height: 70px;
    justify-content: center;
}

.navbar a { /*this is the text in the navbar*/
    display: flex;
    color: #f68d70;
    line-height: 70px;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.15s;
    flex-shrink:1;
    margin-bottom: 16px;
}

.navbar a:hover { /*this is for upscaling on hover*/
    transform: scale(1.1);
}

.focus {
    display: none !important;
}

.thisthemainpagefr { /*this is the div for the starter text*/
    padding-top: 120px;
    position: relative;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    background-position:50% 50%;
}

.thisthemainpagefr::before { /*this underlays and image behind the text and adjusts the opacity*/
    position: absolute;
    content: "";
    inset: 0px;
    background-image: url(/images/back.jpg);
    background-size: cover;
    z-index: -10;
    background-position: 50% 50%;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.headertext { 
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#f9f7f7;
    text-shadow: 0 0 20px #2b1802;
}

.headertextsecond {
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 0;
    color:#f9f7f7;
    text-shadow: 0 0 20px #2b1802;
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
}

.headertextthird {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    color:#f9f7f7;
    text-shadow: 0 0 20px #2b1802;
    margin-left: 20px;
    margin-right: 20px;
}

.headertextlast {
    font-size: 25px;
    padding-bottom: 50px;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    color:#f9f7f7;
    margin-bottom: 10px;
    text-shadow: 0 0 20px #2b1802;
    margin-left: 20px;
    margin-right: 20px;
}

.maintext {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.joinus {
    background-color: #fdf6e6;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 15px;
    max-height: 65px;
    border: none;
    border-radius: 15px;
    transition-duration: 0.15s;
    margin-top: 0;
    display: flex;
    line-height:65px;
}

.joinus:hover {
    transform: scale(1.05);
}


.mainbutton {
    display: flex;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


.joinuscolor {
    color: #f68d70;
}

.discordcolor {
    color: #5865f2;
    margin-left: 7px;
}

.thisthelogo {
    height: 25px;
    object-fit: cover;
    margin-top: 18px;
    margin-left: 10px;
}

.bgspacer {
    height: 150px;
}

.embed {
    display: none;
}

.secondpage {
    background-image: linear-gradient(#F4E8DC, #FBDFD5, #F1C282, #F9F7F7);
    height: 1250px;
    padding-top: 100px;
}

.whatdowe {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    color: #f9f7f7;
    background-color: #A6A142;
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    margin-left: auto;
    margin-right: auto;
}

.cardone {
    height: 350px;
    width: 300px;
    background-color: #f9f7f7;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #ffffff;
    transition-duration: 0.15s;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

.cardone:hover {
    transform: scale(1.05);
}

.cardtwo {
    height: 350px;
    width: 300px;
    background-color: #f9f7f7;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #ffffff;
    transition-duration: 0.15s;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.cardtwo:hover {
    transform: scale(1.05);
}

.cardthree {
    height: 350px;
    width: 300px;
    background-color: #f9f7f7;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #ffffff;
    transition-duration: 0.15s;
    margin-left: auto;
    margin-right: auto;
}

.cardthree:hover {
    transform: scale(1.05);
}

.featureimage {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.gallerypage {
    height: 400px;
    background-color: #f9f7f7;
    padding-top: 35px;
}

.galleryheader {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    color: #f9f7f7;
    background-color: #A6A142;
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.gallerycon {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    position:relative;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(92, 0, 0);
    background-color: rgba(216, 167, 138, 0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 3px 3px 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(159, 97, 60, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.gallerycon div img {
    width: 350px;
    border-radius: 10px;

}

.dotsomg {
    margin-top: 20px;
}

.listone {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #2b1802;
}

.forcomm {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #2b1802;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 15px;
}

.adminspics {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    transition-duration: 0.15s;
    margin-bottom: 10px;
}

.modspics {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    transition-duration: 0.15s;
    margin-bottom: 10px;
}

.staffpics {
    background-image: linear-gradient(#F9F7F7, #FDDCBE, #FBD7BF, #FBD7BF, #FDDCBE, #ED8D63);
    padding-top: 100px;
    height: 3200px;
}

.ourmods {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
    color: #f9f7f7;
    background-color: #A6A142;
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.ouradmins {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    padding-top: 8px;
    color: #f9f7f7;
    background-color: #A6A142;
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.infotab {
    height: 360px;
    width: 300px;
    background-color: #f9f7f7;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 20px #ffffff;
    transition-duration: 0.15s;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.infotab:hover {
    transform: scale(1.05);
}

.reyna {
    border: 5px;
    border-color: #E5C8AF;
}

.nisan {
    border: 5px;
    border-color:  #CB7B78;
}

.nil {
    border: 5px;
    border-color: #9F2D24;
}

.jazzi {
    border: 5px;
    border-color: #988670;
}

.mayo {
    border: 5px;
    border-color:  #219EE3;
}

.vi {
    border: 5px;
    border-color: #3F2B37;
}

.ruthie {
    border: 5px;
    border-color:  #4972AB;
}

.icontext {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
}

.icontext img {
    height: 17px;
}

.infotext {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #312F51;
}